*{
    box-sizing: border-box;
}

body{
    padding: 1em;
    text-align: center;
    color: white;
    background-color: black;
    font-size: medium;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

img{
    padding: 1em;
    margin: 2em;
    max-width: 100%;
    align-items: center;
    background-color: bisque;
}

figcaption{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.text{
    text-align: left;
    padding: 1em;
    max-width: 40rem;
    margin: auto;
}

ol>li{
    padding: 1rem;
}

a{
    color: white;
}

ul{
    margin: 0 auto 50px auto;
}